.method_fees_text {
    white-space: nowrap;
}

.method_fees_mobile {
    display: none;
}

@media (max-width: 575.98px) {
    .method_fees_text {
        display: none !important;
    }

    .method_fees_mobile {
        display: inline;
        white-space: nowrap;
    }
}
